<div class="py-3 border-top bg-dark">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<img style="height:32px; width:atuo;" alt="AI Robot on Computer" src="/assets/svg/ai-6e9dd4.svg">
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 JW3B by Yohn</span>
	 		</div>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a class="text-body-secondary" href="https://github.com/Yohn" target="_blank" title="Yohn on Github" data-bs-toggle="tooltip">
						<i class="bi bi-github fs-4"></i>
					</a>
				</li>
			</ul>
  	</footer>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js" crossorigin="anonymous"></script>
<!-- and it's easy to individually load additional languages -->




<script>hljs.highlightAll();</script>

<script src="/assets/js/site.js"></script>

</body>
</html>