<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yohn's AI Chat Bot Preview</title>
<meta name="description" content="Lets create a chat bot using AI My Way">
<meta name="keywords" content="AI Chat Bot,AI Model,Custom Chat,Learning AI">

<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤖</text></svg>">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">
<link rel="stylesheet" href="/assets/css/yohns.min.css">
<style>
/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  padding: 5px;
  background: transparent;
  filter: blur(4px) contrast(12);
}
.loader:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  animation: l11 .8s infinite linear;
}
@keyframes l11{
  to {background-position: -200% 0,-100% 100%}
}

.collapse.font-zero::not(.show) * {
	font-size: 0 !important;
	transition: all 0.3s ease;
}
</style>
</head>
<body>