<header class="py-1 mb-1 border-bottom border-top border-primary-subtle bg-dark-subtle">
	<div class="container">
		<div class="d-flex flex-wrap justify-content-center">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
				<img style="height:32px; width:atuo;" alt="AI Robot on Computer" src="/assets/svg/ai-6e9dd4.svg">
				<span class="fs-4">Yohns AI Chat</span>
			</a>
			<ul class="nav">
				<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
				<li>
					<button class="btn btn-primary settings-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#sidePanel"
						aria-expanded="true" aria-controls="sidePanel" id="settings-btn">
						<i class="bi bi-gear"></i>
					</button>
				</li>
				<li>
					<button class="ms-3 btn btn-outline-primary settings-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#to-do-list"
						aria-expanded="false" aria-controls="to-do-list" id="to-do-btn">
						<i class="bi bi-list-task"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</header>