<div class="col-3 collapse collapse-horizontal" id="to-do-list">
	<div class="card bg-dark-subtle settings-container">
		<h5 class="card-header">To-do List</h5>
		<div class="card-body overflow-auto">
			<div class="text-light">The Plan:</div>
			<ul>
				<li>
					System Prompt Message
					<ul>
						<li>Ability to load preset prompts</li>
						<li>Save &amp; load custom prompts</li>
					</ul>
				</li>
				<li>
					Different AI models
					<ul>
						<li>Open AI 4.0</li>
						<li>Open AI 4.0-mini</li>
						<li>
							<a href="https://build.nvidia.com/nvidia/llama-3_1-nemotron-70b-instruct?snippet_tab=Node">NVidia's Nemotron 70b</a>
							<ul><li>Will need additional API key from NVida for this to work</li></ul>
						</li>
					</ul>
				</li>
				<li>Chat Themes</li>
				<li>Images.. maybe?</li>
				<li>Work with Markdown styling</li>
				<li>Save Chats</li>
				<li>
					All other chats have like percision stuff.. Look at <a href="https://build.nvidia.com/nvidia/llama-3_1-nemotron-70b-instruct?snippet_tab=Node" target="_blank">NVidia's AI</a>
					<ul>
						<li>Max Tokens</li>
						<li>Temperature</li>
						<li>Top P</li>
						<li>Frequency Penalty</li>
						<li>Presence Penalty</li>
						<li>Stop</li>
						<li>Speed</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>